<!DOCTYPE html>
<html lang="en">
  <head>
	<% include components/header %> 
	
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body ng-app="parionsApp">

	<% include components/top_nav %> 

	    <div class="container-fluid">
	      <div class="row">

			<% include components/left_nav %> 

	        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	          <h1 class="page-header">Liste des matchs</h1>

	          <h2 class="sub-header">Non joués</h2>
	          <div class="table-responsive">
	            <table class="table table-striped listMatchs" ng-controller="listMatchController">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Equipe 1</th>
	                  <th>Equipe 2</th>
	                  <th>Paris effectués</th>
	                  <th colspan="2">Mise</th>
	                  <th></th>
	                </tr>
	              </thead>
	              <tbody>
	              	<tr ng-repeat="match in matchs" id="{{ match.idMatch }}">
						<td>{{ $index + 1 }}</td>
						<td>{{ match.equipe1 }}</td>
						<td>{{ match.equipe2 }}</td>
						<td>
							<select name="mises" ng-model="parisAffiche" ng-options="(mises.equipe + ' - ' + mises.valeurMise + ' / ' + mises.date) for mises in match.misesUtilisateur track by date">
									<!--option>{{mises.equipe }} - {{ mises.valeurMise }}</option-->
							</select>
						</td>
						<td>
							<select id="equipe" name="equipe" ng-model="match.nouvelleMiseEquipe">
								<option value="" selected></option>
								<option value="{{ match.equipe1 }}">{{ match.equipe1 }}</option>
								<option value="Nul">Nul</option>
								<option value="{{ match.equipe2 }}">{{ match.equipe2 }}</option>
							</select>
						</td>
						<td>
							<input name="mise" type="number" min="0" value="" ng-model="match.nouvelleMiseValeur" />
						</td>
						<td><button ng-click="saveBet( $index, match.idMatch )" name="valider">OK</button></td>
	              	</tr>
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
	    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Traitements de la liste des matchs -->
    <script src="js/listMatchs.js"></script>

    <script src="/bower_components/angular/angular.js"></script>

    <!-- Traitements angular -->
    <script src="js/app.js"></script>

    <script type="text/javascript">
    	var listMatchs = <%- JSON.stringify( listMatchs ) %>;
    </script>

  </body>
</html>