<!DOCTYPE html>
<html lang="en">
  <head>
	<% include components/header %> 
	
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body ng-app="parionsApp">

	<% include components/top_nav %> 

	    <div class="container-fluid" ng-controller="listMatchAdminController">
	      <div class="row">

			<% include components/left_nav %> 

	        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	          <h1 class="page-header">Liste des matchs</h1>

	          <h2 class="sub-header">Non joués</h2>
	          <div class="table-responsive">
	            <table class="table table-striped listMatchs">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Date</th>
	                  <th>Match</th>
	                  <th>Score</th>
	                  <th></th>
	                </tr>
	              </thead>
	              <tbody>
	              	<tr ng-repeat="match in matchs" id="{{ match.idMatch }}">
						<td>{{ $index + 1 }}</td>
						<td>
							{{ match.date | date:'dd/MM/yyyy à H:mm' }}
						</td>
						<td>
							{{ match.equipe1 }} -
							{{ match.equipe2 }}
						</td>
						<td>
							<div ng-show="match.afficherInput" class="ng-hide">
								<input name="mise" placeholder="{{ match.equipe1 }}" type="number" min="0" value="" ng-model="match.scoreEquipe1" /> - 
								<input name="mise" placeholder="{{ match.equipe2 }}" type="number" min="0" value="" ng-model="match.scoreEquipe2" />
							</div>
						</td>
						<td>
							<div ng-show="match.afficherInput" class="ng-hide">
								<button ng-click="saveScore( $index, match.idMatch )" name="valider">OK</button>
							</div>
						</td>
	              	</tr>
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
	    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Traitements de la liste des matchs -->
    <script src="js/listMatchs.js"></script>

    <script src="/bower_components/angular/angular.js"></script>

    <!-- Traitements angular -->
    <script src="js/app.js"></script>

    <script type="text/javascript">
    	var listMatchs = <%- JSON.stringify( listMatchs ) %>;
    	var cagnotte = <%- user.local.cagnotte %>;
    </script>

  </body>
</html>